In [108]:
import pandas as pd
import numpy as np
import sys

In [109]:
data = pd.read_excel("close.xlsx")
data.set_index("Date",inplace=True)

In [113]:
company = [i for i in data.columns]
col_name = ["Date"]+company+["total"]
result = pd.DataFrame(columns=col_name)

In [119]:
care = [i for i in data.index if i.month == 6 or i.month==12]

for i in range(2010,2023):
    date_check = [j for j in care if j.year==i]    
    if not i == 2010:
        close_dict = {}
        count = 0
        if pd.Timestamp(str(i)+"-06-30") in date_check:
            date = pd.Timestamp(str(i)+"-06-30")
        elif pd.Timestamp(str(i)+"-06-29") in date_check:
            date = pd.Timestamp(str(i)+"-06-29")
        elif pd.Timestamp(str(i)+"-06-28") in date_check:
            date = pd.Timestamp(str(i)+"-06-28")
        elif pd.Timestamp(str(i)+"-06-27") in date_check:
            date = pd.Timestamp(str(i)+"-06-27")
        elif pd.Timestamp(str(i)+"-06-26") in date_check:
            date = pd.Timestamp(str(i)+"-06-26")
        else:
            print("Near "+str(i)+"-06-30, all three days not in index")
            sys.exit()
        close_dict["Date"] = date
        for c in company:
            if not pd.isnull(data.loc[date][c]):
                close_dict[c] = 1
                count += 1
            else:
                close_dict[c] = 0
        close_dict["total"] = count
        result = result.append(close_dict,ignore_index=True)

    if not i == 2022:
        close_dict = {}
        count = 0
        if pd.Timestamp(str(i)+"-12-31") in date_check:
            date = pd.Timestamp(str(i)+"-12-31")
        elif pd.Timestamp(str(i)+"-12-30") in date_check:
            date = pd.Timestamp(str(i)+"-12-30")
        elif pd.Timestamp(str(i)+"-12-29") in date_check:
            date = pd.Timestamp(str(i)+"-12-29")
        elif pd.Timestamp(str(i)+"-12-28") in date_check:
            date = pd.Timestamp(str(i)+"-12-28")
        elif pd.Timestamp(str(i)+"-12-27") in date_check:
            date = pd.Timestamp(str(i)+"-12-27")
        else:
            print("Near "+str(i)+"-12-31, all three days not in index")
            sys.exit()
        close_dict["Date"] = date
        for c in company:
            if not pd.isnull(data.loc[date][c]):
                close_dict[c] = 1
                count += 1
            else:
                close_dict[c] = 0
        close_dict["total"] = count
        result = result.append(close_dict,ignore_index=True)

result

,Date,000009.SZ,000155.SZ,000591.SZ,000875.SZ,001289.SZ,002056.SZ,002074.SZ,002080.SZ,002129.SZ,...,688063.SH,688116.SH,688388.SH,688390.SH,688408.SH,688516.SH,688598.SH,688599.SH,688680.SH,total
0,2010-12-31,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,29
1,2011-06-30,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,29
2,2011-12-30,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,33
3,2012-06-29,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,35
4,2012-12-31,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,35
5,2013-06-28,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,35
6,2013-12-31,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,35
7,2014-06-30,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,37
8,2014-12-31,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,40
9,2015-06-30,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,44
10,2015-12-31,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,44
11,2016-06-30,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,44
12,2016-12-30,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,47
13,2017-06-30,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,49
14,2017-12-29,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,50
15,2018-06-29,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,51
16,2018-12-28,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,54
17,2019-06-28,1,1,1,1,0,1,1,1,1,...,0,0,0,0,0,0,0,0,0,59
18,2019-12-31,1,1,1,1,0,1,1,1,1,...,0,1,1,0,0,0,0,0,0,64
19,2020-06-30,1,1,1,1,0,1,1,1,1,...,0,1,1,0,0,1,1,1,0,68
20,2020-12-31,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,0,74
21,2021-06-30,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,78
22,2021-12-31,1,1,1,1,0,1,1,1,1,...,1,1,1,1,1,1,1,1,1,79
23,2022-06-30,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,80

In [118]:
result.append(close_dict,ignore_index=True)
result

Empty DataFrame
Columns: [Date, 000009.SZ, 000155.SZ, 000591.SZ, 000875.SZ, 001289.SZ, 002056.SZ, 002074.SZ, 002080.SZ, 002129.SZ, 002192.SZ, 002202.SZ, 002240.SZ, 002340.SZ, 002459.SZ, 002460.SZ, 002466.SZ, 002506.SZ, 002531.SZ, 002617.SZ, 002709.SZ, 002812.SZ, 002850.SZ, 003035.SZ, 003816.SZ, 300014.SZ, 300037.SZ, 300073.SZ, 300118.SZ, 300274.SZ, 300316.SZ, 300376.SZ, 300390.SZ, 300450.SZ, 300568.SZ, 300618.SZ, 300724.SZ, 300750.SZ, 300751.SZ, 300763.SZ, 300769.SZ, 300776.SZ, 300850.SZ, 300919.SZ, 301155.SZ, 600032.SH, 600110.SH, 600416.SH, 600438.SH, 600549.SH, 600732.SH, 600875.SH, 600884.SH, 600905.SH, 601012.SH, 601016.SH, 601222.SH, 601615.SH, 601778.SH, 601865.SH, 601877.SH, 601908.SH, 601985.SH, 603026.SH, 603185.SH, 603218.SH, 603659.SH, 603799.SH, 603806.SH, 605376.SH, 688005.SH, 688006.SH, 688063.SH, 688116.SH, 688388.SH, 688390.SH, 688408.SH, 688516.SH, 688598.SH, 688599.SH, 688680.SH, total]
Index: []

[0 rows x 82 columns]

In [102]:
1!=2

True